

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF; 
}

header {
    background-color: #000000; 
    color: #FFA500; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
}

.brand-name a {
    color: #FFA500; 
    text-decoration: none; 
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFA500; 
    text-decoration: none;
}

.hero-image {
    width: 100%;
    height: 1000px; 
    background: url('travel_agency_large.jpg') no-repeat center center/cover; 
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    display: none; 
}

.welcome-message {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr; 
    text-align: center;
    padding: 0px;
    font-family: 'Playfair Display', serif; 
    font-size: 1.2em; 
}

.welcome-message .left-bg, .welcome-message .right-bg {
    background-color: #F2F2F2; 
}

.welcome-message .left-bg {
    grid-column: 1;
}

.welcome-message .right-bg {
    grid-column: 3;
}

.welcome-message h2 {
    grid-column: 2; 
    color: #008080; 
}

.welcome-message p {
    grid-column: 2; 
    padding: 20px; 
    font-family: 'Lato', sans-serif; 
    font-size: 1.2em; 
    color: #333333; 
}

footer {
    background-color: #000000; 
    color: #FFFFFF; 
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: #FFA500; 
}
